body{
  background-color:rgb(82,180,216);
  width: 100%;
}
#avail{
  float: left;
  margin-right: 25%;
  margin-left: 20%;
}
#devoured{
  float: left;
}
#add{
  clear: both;
  margin-left: 38%;
}
li{
  list-style-type: none;
  font-size: 25px;
}
